/* Definiera typsnittet Poppins genom att ladda in typsnittsfilen for Poppins-Regular */

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}


/* Styla alla <p> element med Poppins typsnitt, centrerad text och vit färg */

p {
    font-family: Poppins;
    text-align: center;
    color: white;
}


/* Återställ standardmarginaler och padding för <body> elementet */

body {
    margin: 0;
    padding: 0;
}


/* Styla den övergripande container för startsidan med en bakgrundsbild och full storlek */

.container-index {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/gallery/wall.jpg);
    background-size: cover;
}


/* Styla den övergripande container för bekräftelsesidan med en bakgrundsbild och full storlek */

.container-confirm {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/alster/tegel.jpg);
    background-size: cover;
}


/* Styla alla <h1> element med typsnittet Rafaella, sans-serif, storlek och placering */

h1 {
    font-family: rafaella, sans-serif;
    font-weight: 400;
    font-size: 120px;
    margin: 0px;
    padding: 0px;
}


/* Justera marginal och textinriktning för header container */

.header-container {
    margin-left: 10%;
    text-align: left;
}


/* Styla titellänkar för startsidan och confirm-sidan för anmälan */

.title-index {
    text-decoration: none;
    color: rgb(150, 33, 42);
    margin: 0px;
    padding: 0px;
}

.title-confirm {
    text-decoration: none;
    color: rgb(238, 183, 30);
    margin: 0px;
    padding: 0px;
}


/* Styla alla <h2> element med Futura PT typsnitt, storlek, färg och placering */

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 320%;
}


/* Justera marginal, centrering av text och padding */

.text-container {
    margin-bottom: 40px;
    text-align: center;
    padding: 0px;
    margin-left: 10%;
    text-align: left;
}


/* Styla dropdown knappen med specifik storlek, färg och transition */

.dropbtn {
    font-size: 45px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    margin-left: 40px;
    margin-top: 50px;
}


/* Justera storleken på dropdown-knappen */

.dropdown {
    width: 1em;
}


/* Styla dropdown-innehållet med position, bakgrundsfärg, storlek och typsnitt */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 40px;
}


/* Styla länkar inom dropdown med färg, padding och transition */

.dropdown-content a {
    color: white;
    padding: 10px 9px;
    text-decoration: none;
    display: block;
    transition: all .5s ease;
}


/* Styla dropdown-knappen så att en hover leder till en rotering, i en transitioneffekt */

.dropbtn:hover {
    transform: rotate(90deg);
    transition: all .6s ease;
}


/* Styla så att elementen i drop-downen highlightas */

.dropdown-content a:hover {
    background-color: black;
    opacity: 0.3;
    border-radius: 6px;
    transition: all .6s ease;
}


/* Visa dropdown-innehållet vid hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Styla nedräkningen med vit färg */

.count {
    color: white;
}


/* Responsiv design för mindre skärmar (skärmar med maxbredd 700px) */

@media screen and (max-width: 700px) {
    /* Justera storleken på alla <h2> element, med en transition */
    h2 {
        font-size: 140%;
        transition: font-size .8s ease-in-out;
    }
    /* Justera storleken på dropdown-knappen, med en transition */
    .dropbtn {
        font-size: 24px;
        padding: 1px 4px;
        margin-left: 5px;
        transition: font-size .8s ease-in-out;
    }
    /* Justera storleken på dropdown-innehållet */
    .dropdown-content {
        min-width: 110px;
        font-size: 12px;
        margin-left: 5px;
    }
    /* Justera storleken på länkar inom dropdown */
    .dropdown-content a {
        padding: 6px 8px;
    }
    /* Justera storleken på titellänken för startsidan, med en transition */
    .title-index {
        font-size: 280%;
        transition: font-size .8s ease-in-out;
    }
    /* Justera storleken på titellänken för bekräftelsesidan, med en transition */
    .title-confirm {
        font-size: 240%;
        transition: font-size .8s ease-in-out;
    }
}