@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}

p {
    font-family: Poppins;
    color: white;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container-page {
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: rafaella, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 31%;
    font-size: 60px;
    color: rgb(238, 183, 30);
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgb(238, 183, 30);
    font-size: 30px;
}

.navbar {
    background-color: transparent;
    display: flex;
    padding: 5px 20px;
    height: 200px;
}

.dropbtn {
    font-size: 45px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 20px;
}

.dropdown-content a {
    color: rgb(238, 183, 30);
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    transition: all .5s ease;
}

.dropbtn:hover {
    transform: rotate(90deg);
    transition: all .6s ease;
}

.dropdown-content a:hover {
    background-color: rgb(30, 30, 30);
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-header {
    flex: 1;
    text-align: center;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Poppins;
}

.confirm {
    background-color: rgb(226, 121, 46);
    color: white;
    padding: 10px 377px 10px 377px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.confirm:hover {
    background-color: rgb(204, 97, 20);
}

.form-container {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width: 800px;
    margin: auto;
}

.font-futura {
    font-family: "futura-pt", sans-serif;
}

footer {
    color: #fff;
    background-color: transparent;
    text-align: center;
    height: 80px;
}

.main-text {
    width: 70%;
    margin: auto;
    text-align: left;
}

.vinyl {
    display: block;
    margin: auto;
    width: 500px;
}

.arrows {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.text-highlight {
    color: rgb(238, 183, 30);
    font-size: 18px;
}

table {
    color: white;
    margin: auto;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: Poppins;
}

.spacer {
    margin-right: 25px;
}

.gallery-image {
    width: 250px;
    transition: transform 0.3s ease-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-left: 16%;
    width: 400px;
    gap: 110px;
}

.recension {
    margin-top: 50px;
}

.dropdown {
    margin-top: 45px;
}

@media screen and (max-width: 700px) {
    .h2 {
        font-size: 25px;
        transition: font-size .8s ease-in-out;
    }
    .p {
        font-size: 14px;
        transition: font-size .8s ease-in-out;
    }
    .text-highlight {
        color: rgb(238, 183, 30);
        font-size: 14px;
    }
    .dropbtn {
        font-size: 25px;
        padding: 1px 4px;
        margin-left: 5px;
        transition: font-size .8s ease-in-out;
    }
    .dropdown-content {
        min-width: 110px;
        font-size: 12px;
        margin-left: 5px;
    }
    .dropdown-content a {
        padding: 6px 8px;
    }
    h1 {
        font-size: 240%;
        margin-left: 21%;
        transition: font-size .8s ease-in-out;
    }
    .form-container {
        width: 60%;
    }
    .confirm {
        padding: 5px 140px 5px 140px;
        margin-top: 5px;
        font-size: 18px;
    }
    table {
        margin-bottom: 60px;
        font-size: 16px;
        font-family: Poppins;
    }
    .vinyl {
        width: 400px;
    }
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-left: 12%;
        width: 400px;
        gap: 70px;
    }
    .gallery-image {
        width: 180px;
    }
    .arrows {
        width: 200px;
    }
}