/* Definiera typsnittet Poppins genom att ladda in typsnittsfilen for Poppins-Regular */

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}


/* Styla alla <p> element med Poppins typsnitt, vit färg och storlek */

p {
    font-family: Poppins;
    color: white;
    font-size: 16px;
}


/* Återställ standardmarginaler och padding för <body> elementet */

body {
    margin: 0;
    padding: 0;
}


/* Styla container för sidan med svart bakgrund och flex-rapportering */

.container-page {
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* Styla alla <h1> element med typsnittet Rafaella, vikt, textinriktning, storlek och färg */

h1 {
    font-family: rafaella, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 31%;
    font-size: 60px;
    color: rgb(238, 183, 30);
}


/* Styla alla <h2> element med Futura PT typsnitt, vikt, textinriktning, färg och storlek */

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgb(238, 183, 30);
    font-size: 30px;
}


/* Styla navigationsfältet med transparent bakgrund och padding */

.navbar {
    background-color: transparent;
    display: flex;
    padding: 5px 20px;
    height: 200px;
}


/* Styla dropdown-knappen med specifik storlek, färg och transition */

.dropbtn {
    font-size: 45px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    margin-left: 20px;
}


/* Styla dropdown-innehållet med position, bakgrundsfärg, storlek, typsnitt och transition */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 20px;
}


/* Styla länkar inom dropdown med färg, padding och transition */

.dropdown-content a {
    color: rgb(238, 183, 30);
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    transition: all .5s ease;
}


/* Styla dropdown-knappen så att en hover leder till en rotering, i en transitioneffekt */

.dropbtn:hover {
    transform: rotate(90deg);
    transition: all .6s ease;
}


/* Styla så att elementen i drop-downen highlightas */

.dropdown-content a:hover {
    background-color: rgb(30, 30, 30);
    border-radius: 6px;
}


/* Visa dropdown-innehållet vid hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Styla main-header så att den centreras */

.main-header {
    flex: 1;
    text-align: center;
}


/* Styla anmälningsfältet med specifik bredd, padding, marginal, border, border-radius, box-sizing och typsnitt */

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Poppins;
}


/* Styla bekräftelseknappen med bakgrundsfärg, färg, padding, marginal, border, border-radius, typsnitt och transition */

.confirm {
    background-color: rgb(226, 121, 46);
    color: white;
    padding: 10px 377px 10px 377px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    text-decoration: none;
}


/* Styla bekräftelseknappen vid hover med ändrad bakgrundsfärg */

.confirm:hover {
    background-color: rgb(204, 97, 20);
}


/* Styla formulär-containern med bakgrundsfärg, padding och centrering */

.form-container {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width: 800px;
    margin: auto;
}


/* Styla element med Futura PT typsnitt */

.font-futura {
    font-family: "futura-pt", sans-serif;
}


/* Styla footern med färg, placering och höjd */

footer {
    color: #fff;
    background-color: transparent;
    text-align: center;
    height: 80px;
}


/* Styla huvudtexten med bredd, marginal och gör den vänsterställd */

.main-text {
    width: 70%;
    margin: auto;
    text-align: left;
}


/* Styla vinylbilderna med storlek och placering */

.vinyl {
    display: block;
    margin: auto;
    width: 500px;
}


/* Styla pilarna med storlek och margins*/

.arrows {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}


/* Styla text som inleder stycken med färg och storlek */

.text-highlight {
    color: rgb(238, 183, 30);
    font-size: 18px;
}


/* Styla tabell med färg, marginaler, samt texten i tabellen med storlek, och typsnitt */

table {
    color: white;
    margin: auto;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: Poppins;
}


/* Justera endast marginal för ett element */

.spacer {
    margin-right: 25px;
}


/* Styla en galleribild med transition när en hover går bort */

.gallery-image {
    width: 250px;
    transition: transform 0.3s ease-out;
}


/* Styla galleribilden med transition i form av en förstorningseffekt vid hover */

.gallery-image:hover {
    transform: scale(1.1);
}


/* Styla galleribilder med grid-layout, kolumner, rader, marginal och gap */

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-left: 16%;
    width: 400px;
    gap: 110px;
}


/* Styla recensionssektionen med en marginal */

.recension {
    margin-top: 50px;
}


/* Styla dropdown-knappen med en marginal */

.dropdown {
    margin-top: 45px;
}


/* Responsiv design för mindre skärmar (skärmar med maxbredd 700px) */

@media screen and (max-width: 700px) {
    /* Styla alla <h2> element med ändrad storlek och transition */
    .h2 {
        font-size: 25px;
        transition: font-size .8s ease-in-out;
    }
    /* Styla alla <p> element med ändrad storlek och transition */
    .p {
        font-size: 14px;
        transition: font-size .8s ease-in-out;
    }
    /* Styla text som inleder stycken med färg och ändrad storlek */
    .text-highlight {
        color: rgb(238, 183, 30);
        font-size: 14px;
    }
    /* Styla dropdown-knappen med ändrad storlek, padding och marginal */
    .dropbtn {
        font-size: 25px;
        padding: 1px 4px;
        margin-left: 5px;
        transition: font-size .8s ease-in-out;
    }
    /* Styla dropdown-innehållet med ändrad minsta bredd, font-size och marginal */
    .dropdown-content {
        min-width: 110px;
        font-size: 12px;
        margin-left: 5px;
    }
    /* Styla länkar inom dropdown med ändrad padding */
    .dropdown-content a {
        padding: 6px 8px;
    }
    /* Styla alla <h1> element med ändrad storlek, marginal och transition */
    h1 {
        font-size: 240%;
        margin-left: 21%;
        transition: font-size .8s ease-in-out;
    }
    /* Styla formulär-containern med ändrad bredd */
    .form-container {
        width: 60%;
    }
    /* Styla bekräftelseknappen med ändrad padding, marginal och storlek */
    .confirm {
        padding: 5px 140px 5px 140px;
        margin-top: 5px;
        font-size: 18px;
    }
    /* Styla tabellen med ändrad marginal och storlek */
    table {
        margin-bottom: 60px;
        font-size: 16px;
        font-family: Poppins;
    }
    /* Styla vinylbild vid med ändrad bredd */
    .vinyl {
        width: 400px;
    }
    /* Styla galleribilderr med ändrat grid-layout, kolumner, rader, marginal och gap */
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-left: 12%;
        width: 400px;
        gap: 70px;
    }
    /* Styla galleribild med ändrad bredd */
    .gallery-image {
        width: 180px;
    }
    /* Styla pilarna med ändrad bredd */
    .arrows {
        width: 200px;
    }
}